/**
 * Copyright (C) 2010-2023 Structr GmbH
 *
 * This file is part of Structr <http://structr.org>.
 *
 * Structr is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Structr is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Structr.  If not, see <http://www.gnu.org/licenses/>.
 */
.folder-path {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 2rem .75rem;
}

#contents-contents {
	position: relative;
}

#contents-contents table th {
	text-align: left;
	padding-left: 1rem;
}

#contents-contents .thumbnail {
	color: var(--gray-aaa);
}

#contents-contents .thumbnailZoom {
	max-width: 300px;
	max-height: 300px;
	position: absolute;
	z-index: 4;
	display: none;
}

#contents-contents tr[id]:hover {
	background-color: var(--light-gray-bg-f3) ! important;
}

#contents-contents .nodeActive {
	background-color: var(--light-gray-bg-f3) ! important;
}

#contents-contents .nodeHover, .image.nodeHover {
	color: var(--gray-333) ! important;
	z-index: 1;
}

#contents-contents table {
	table-layout: fixed;
}

#contents-contents table th:nth-child(1) {
	width: 24px;
}

#contents-contents table th:nth-child(2) {
	width: 40%;
}

#contents-contents table th:nth-child(3) {
	width: 10%;
}

#contents-contents table th:nth-child(4) {
	width: 20%;
}

#contents-contents table th:nth-child(5) {
	width: calc(20% - 24px);
}

#contents-contents table th:nth-child(6) {
	width: 10%;
}

/*
 * Files table
 */
#files-table {
	margin-bottom: 1rem;
}

#files-table tr:nth-child(even) {
	background-color: var(--main-background);
}

#files-table tr:nth-child(odd) {
	background-color: var(--solid-white);
}

#files-table th {
	padding: 0 0 1rem .5rem;
	text-align: left;
}

#files-table tbody tr td .editable {
	min-width: 100px;
	min-height: 14px;
}

#files-table tbody tr td .node {
	min-width: 6rem;
	padding-right: .5rem;
}

#files-table tr[id]:hover .node-action-icon {
	display: inline-block;
}

#files-table td.file-icon {
	cursor: pointer;
}

#files-table td {
	text-align: left;
	padding-left: 1rem;
	height: 2rem;
}

#files-table td a {
	text-decoration: none;
}

#files-table td a:hover {
	text-decoration: underline;
}

#files-table .file, #files-table .folder {
	margin: 0;
}

/* start dragndrop classes in contents */
.node:hover {
	cursor: pointer;
}

.node.drag-over:not(.drop-not-possible) {
}
.node.drag-background-node-highlight {
	background: var(--hover-highlight-color-active);
}

.node.drag-background-drop-forbidden {
	background-image: var(--striped-background);
	background-size: 20px 20px;
}

.jstree-default .jstree-wholerow.drag-background-node-highlight {
	background: var(--hover-highlight-color-active) ! important;
}

.jstree-default .jstree-wholerow.drag-background-drop-forbidden {
	background-image: var(--striped-background);
	background-size: 20px 20px;
}
/* end dragndrop classes in contents */