/**
 * Copyright (C) 2010-2023 Structr GmbH
 *
 * This file is part of Structr <http://structr.org>.
 *
 * Structr is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Structr is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Structr.  If not, see <http://www.gnu.org/licenses/>.
 */
#security {
	height: 100%;
	margin-bottom: 0;
}

#securityTabs {
	height: calc(100% - 2rem);
	border: none;
	background: none;
}

#security .tab-content {
	/* overflow-y: scroll; */
	/* max-height: 100%; */
	height: calc(100% - 4rem);
	overflow: auto;
}

#usersAndGroups-inner {
	display: flex;
	max-height: 100%;
}

#usersAndGroups #users,
#usersAndGroups #groups {
	padding: 0;
	display: flex;
	flex-direction: column;
}

#usersAndGroups #users {
	margin-right: 6rem;
}

#users-list,
#groups-list {
	flex-grow: 1;
	max-width: 27.5rem;
	overflow-y: auto;
	margin-top: 1rem;
}

#users-list .node,
#groups-list .node {
	line-height: 2rem;
}

input.max-w-75 {
	max-width: 75%;
}

.security-module-table {
	display: block;
	margin: 1rem 0;
}

.security-module-table tbody tr:hover {
	background-color: var(--structr-light-green-transparent) ! important;
}

.security-module-table td, .security-module-table th {
	padding: .5rem .5rem;
	text-align: center;
	vertical-align: middle;
	height: 1rem;
}

.security-module-table th.br-1, .security-module-table td.br-1 {
	/*border-right: 1px solid var(--light-gray-bg-f3);*/
}

.security-module-table th.bl-1, .security-module-table td.bl-1 {
	/*border-left: 1px solid var(--light-gray-bg-f3);*/
}

.security-module-table .title-cell {
	text-align: left;
}

.security-module-table .actions {
	white-space: nowrap;
}

.security-module-table tr:nth-child(odd) {
	background: var(--light-gray-bg-f7) ! important;
}

.security-module-table tr:nth-child(even) {
	background: var(--solid-white) ! important;
}

.security-module-table th {
	background: var(--input-background);
	color: var(--gray-333);
	vertical-align: top;
	min-width: 2rem;
}

.security-module-table td {
	position: relative;
}

#resourceAccessesPager, #corsSettingsPager {
	text-align: left;
	/*min-width: 24rem;*/
}

input.bitmask {
	text-align: right;
	width: calc(100% - 2rem);
}

.acl-resource-access {
	margin-right: 1rem;
}